<a href="https://colab.research.google.com/github/kimyeongyun/study/blob/main/yrxyy_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 구글 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

# 구글 파일 연동 권한
from google.colab import auth
import gspread # 구글 스프레드 불러오기
from google.auth import default
#autenticating to google
auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

# 라이브러리 불러오기
import pandas as pd

Mounted at /content/drive

In [18]:
# 파일 이름으로 불러오기(중복 이름 있을 경우 최근저장된 것)
# gc_nm = 'sheet_01'
# worksheets = gc.open(gc_nm)

# url로 불러오기
gc_url = 'https://docs.google.com/spreadsheets/d/1f9tHVsd3NpamfyXq3ZDzSZB7c4oQI9k7q2WTgb6N3h0/edit#gid=0'
worksheets = gc.open_by_url(gc_url)

# 키로 불러오기
# gc_key = '1f9tHVsd3NpamfyXq3ZDzSZB7c4oQI9k7q2WTgb6N3h0'
# worksheets = gc.open_by_key(gc_key)

print('불러온 파일의 이름:', str(worksheets).split("'")[1])

불러온 파일의 이름: sheet_01

In [22]:
# 이름으로 시트 찾기
worksheet = worksheets.worksheet('시트1')

type(worksheet)

gspread.models.Worksheet

In [21]:
# 순서로 시트 찾기
worksheet = worksheets.get_worksheet(0)

worksheet

In [42]:
test_df = worksheet.get_all_values()
test_df = pd.DataFrame(test_df)

test_df.rename(columns=test_df.iloc[0], inplace =True)
test_df.rename(columns={'' : 'id'}, inplace=True)
test_df.drop(index=test_df.index[0], inplace=True)
test_df.reset_index(drop=True, inplace=True)

test_df.head()

,id,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,iris_1,5.1,3.5,1.4,0.2
1,iris_2,4.9,3,1.4,0.2
2,iris_3,4.7,3.2,1.3,0.2
3,iris_4,4.6,3.1,1.5,0.2
4,iris_5,5,3.6,1.4,0.2

In [46]:
sum_l=[]
for i in range(len(test_df)):
  print('-'*50)
  root_list = test_df.iloc[i].tolist()
  row_nm = root_list[0]
  row_content = sum([float(i) for i in root_list[1:]])
  print(f'{row_nm}: {row_content:.2f}')

  sum_l.append(f'{row_content:.2f}')

sum_l

--------------------------------------------------
iris_1: 10.20
--------------------------------------------------
iris_2: 9.50
--------------------------------------------------
iris_3: 9.40
--------------------------------------------------
iris_4: 9.40
--------------------------------------------------
iris_5: 10.20
--------------------------------------------------
iris_6: 11.40
--------------------------------------------------
iris_7: 9.70
--------------------------------------------------
iris_8: 10.10
--------------------------------------------------
iris_9: 8.90
--------------------------------------------------
iris_10: 9.60
--------------------------------------------------
iris_11: 10.80
--------------------------------------------------
iris_12: 10.00
--------------------------------------------------
iris_13: 9.30
--------------------------------------------------
iris_14: 8.50

['10.20',
 '9.50',
 '9.40',
 '9.40',
 '10.20',
 '11.40',
 '9.70',
 '10.10',
 '8.90',
 '9.60',
 '10.80',
 '10.00',
 '9.30',
 '8.50']

In [47]:
test_df['iris_sum'] = sum_l
test_df

,id,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iris_sum
0,iris_1,5.1,3.5,1.4,0.2,10.20
1,iris_2,4.9,3,1.4,0.2,9.50
2,iris_3,4.7,3.2,1.3,0.2,9.40
3,iris_4,4.6,3.1,1.5,0.2,9.40
4,iris_5,5,3.6,1.4,0.2,10.20
5,iris_6,5.4,3.9,1.7,0.4,11.40
6,iris_7,4.6,3.4,1.4,0.3,9.70
7,iris_8,5,3.4,1.5,0.2,10.10
8,iris_9,4.4,2.9,1.4,0.2,8.90
9,iris_10,4.9,3.1,1.5,0.1,9.60
10,iris_11,5.4,3.7,1.5,0.2,10.80
11,iris_12,4.8,3.4,1.6,0.2,10.00
12,iris_13,4.8,3,1.4,0.1,9.30
13,iris_14,4.3,3,1.1,0.1,8.50